<div >
  <h1><b>Smart Covid Online Appointment</b> </h1>
</div>
<div class ="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">You can edit your details!!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
    </div>
  </nav>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope ="col">PhoneNumber</th>
        <th scope="col">EmailId</th>
       
        
      </tr>
      
      
    </thead>
    <tbody>
      <tr *ngFor="let admin of adList">
        <td>{{admin. adminId}}</td>
        <td>{{admin.adminName}}</td>
        <td>{{admin.phoneNumber}}</td>
        <td>{{admin.emailId}}</td>
        
        <td>
            <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editAdmin" (click)="editAdmin(admin)">Edit</button>
        </td>
        
    </tr>
      
</tbody>
</table>

<!--Edit Admin Modal-->
<div class="modal fade" id="editAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h1 class="modal-title" id="exampleModalLabel">Edit Admin</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="adDetail">
                

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" formControlName="adminName" class="form-control" id="adminName" aria-describedby="emailHelp">
                  </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                    <input type="number" formControlName="phoneNumber" class="form-control" id="phoneNumber" aria-describedby="emailHelp">
                  </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Id</label>
                    <input type="email" formControlName="emailId" class="form-control" id="emailId" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="text" formControlName="password" class="form-control" id="password" aria-describedby="emailHelp">
                  </div>

                

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateAdmin()" >Edit Admin</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>
