<div>
    <h1><b>Smart Covid Online Appointment</b> </h1>
</div>

&nbsp;

<div class="center">
    <h2><b> Welcome to Admin Dashboard!!</b></h2>
</div>
&nbsp;
&nbsp;
<div class="row">
    <img src="../../assets/admin.png" class="center">
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<div class="wrap">
    <button class="button">
        <a class="nav-link" routerLink="/admin">
            &nbsp; <span class="text" style="font-size: x-large"><b>Add Admin</b></span>
        </a>
    </button>
</div>

&nbsp;
&nbsp;
&nbsp;
&nbsp;

<div class="wrap">
    <button class="button"><a class="nav-link" routerLink="/editadmin">
            &nbsp; <span class="text" style="font-size: x-large"><b> Update Admin</b></span>
        </a>
    </button>
</div>

&nbsp;

&nbsp;

&nbsp;<div class="wrap">
    <button class="button">
        <a class="nav-link" routerLink="/viewpat">
            &nbsp; <span class="text" style="font-size: x-large"><b> Patient Details</b></span>
        </a>
    </button>
    </div>

    &nbsp;
    &nbsp;&nbsp;<div class="wrap">
        <button class="button">
            <a class="nav-link" routerLink="/viewdoc">
                &nbsp; <span class="text" style="font-size: x-large"><b> Doctor Details</b></span>
            </a>
        </button>
        </div>


        &nbsp;
    &nbsp;&nbsp;<div class="wrap">
            <button class="button">
                <a class="nav-link" routerLink="/addappointment">
                    &nbsp; <span class="text" style="font-size: x-large"><b>Book Appointment for Patients</b></span>
                </a>
            </button>
        </div>
        &nbsp;

        &nbsp;<div class="wrap">
            <button class="button">
                <a class="nav-link" routerLink="/editappointment">
                    &nbsp; <span class="text" style="font-size: x-large"><b> Edit Appointment</b></span>
                </a>
            </button>


            &nbsp;
            &nbsp; <div class="wrap">
                <button class="button">

                    <a class="nav-link" routerLink="/viewapp">
                        &nbsp; <span class="text" style="font-size: x-large"><b>Appointment Details</b></span>
                    </a>

                </button>

                &nbsp;
            &nbsp;<div class="wrap">
                    <button class="button">
                        <a class="nav-link" routerLink="/addschedule">
                            &nbsp; <span class="text" style="font-size: x-large"><b>AddSchedule</b></span>
                        </a>
                    </button>


                    &nbsp;
                    &nbsp;<div class="wrap">
                        <button class="button">
                            <a class="nav-link" routerLink="/editschedule">
                                &nbsp; <span class="text" style="font-size: x-large"><b>EditSchedule</b></span>
                            </a>
                        </button>

                        &nbsp;
                        &nbsp; <div class="wrap">
                            <button class="button">

                                <a class="nav-link" routerLink="/viewfeed">
                                    &nbsp; <span class="text" style="font-size: x-large"><b>FeedBack Details</b></span>
                                </a>

                            </button>