<div class="about-section">
    <h1>About Us</h1>
    <h2>Our Vision</h2>

      <ul>
        <li>Every human being should have an ability to access good healthcare irrespective of their geography or economic situation.</li>
       <li>our clinic  vision is to enable anyone access good quality healthcare at a price they can afford.</li>
      </ul>
    <h2>Mission</h2>
    <ul>
      <li>The hospital is committed to maintain the highest standard of care and respond to the needs of the community in a compassionate manner.</li>
      <li>To provide state-of-the-art, high quality and cost-effective healthcare services and latest information to improve and maintain health for the well-being of the community.</li>
      <li>To unrelentingly pursue the creation of value for our customers, shareholders, employees and society at large.</li>
      <li>To foster a therapeutic relationship based on compassion that is felt, quality that is measurable and cost that is affordable.</li>
      <li>To become partners in health promotion with every section of society.</li>
    </ul>
    <h3 style="color:red">To be Noted</h3>
    <ul>
      <li>We are committed to keeping the highest level of Trust – maintaining complete confidentiality between you and your doctor.</li>
      <li>Even your Data stays secured with us, with no compromise made on maintaining top level of user privacy.</li>
    </ul>
  </div>

  
  
  <h2 style="text-align:center ; color:darkblue" >Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/img1.jpg" alt="" style="width:20%" >
        <div class="container">
          <h2>Anitha</h2>
          <p class="title"><b>CEO & Founder</b></p>
          <p>Analyst @Capgemini</p>
          <p>Received National Award for developing web page with specific and unique designs .And an young and fast growing Enterpreneur.</p>
          <p>anithapandiyan509@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/img5.jpg" alt="" style="width:20%">
        <div class="container">
          <h2>Harshali</h2>
          <p class="title">Art Director</p>
          <p>Analyst @Capgemini</p>
          <p>bahulharshali89@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="../../assets/img3.png" alt="John" style="width:20%">
        <div class="container">
          <h2>Chandhini</h2>
          <p class="title">Designer</p>
          <p>Analyst @Capgemini</p>
          <p>chandhini567@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../assets/img4.png" alt="John" style="width:20%">
        
          <h2>Mounika</h2>
          <p class="title">Designer</p>
          <p>Analyst @Capgemini</p>
          <p>mouni789@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
    
    </div>
    <div class="column">
      <div class="card">
        <img src="../../assets/img2.jpg" alt="John" style="width:20%">
        <div class="container">
          <h2>Pratiksha</h2>
          <p class="title">Designer</p>
          <p>Analyst @Capgemini</p>
          <p>Pratu678@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
