<div>
    <h1><b>Smart Covid Online Appointment</b> </h1>
</div>
&nbsp;
<div style="background-color:powderblue;">
    <div class="center">
        <h2><b> Welcome to Patient Dashboard!!!</b></h2>
    </div>

    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="row">
        <img src="../../assets/patient.png" class="center">
    </div>
    <div class="wrap">
    <button class="button">
        <a class="nav-link" routerLink="/addpatient">
            &nbsp; <span class="text" style="font-size: x-large"><b>Patient Registration</b></span>
        </a>
    </button>
</div>

&nbsp;
&nbsp;
&nbsp;
&nbsp;

<div class="wrap">
    <button class="button"><a class="nav-link" routerLink="/editpatient">
            &nbsp; <span class="text" style="font-size: x-large"><b>Edit Patient</b></span>
        </a>
    </button>
</div>

&nbsp;

&nbsp;

&nbsp;<div class="wrap">
    <button class="button">
        <a class="nav-link" routerLink="/viewdoc">
            &nbsp; <span class="text" style="font-size: x-large"><b>Doctor Details</b></span>
        </a>
    </button>



        &nbsp;
    &nbsp;&nbsp;<div class="wrap">
            <button class="button">
                <a class="nav-link" routerLink="/addappointment">
                    &nbsp; <span class="text" style="font-size: x-large"><b>Book Appointment</b></span>
                </a>
            </button>
    
        &nbsp;

        &nbsp;<div class="wrap">
            <button class="button">
                <a class="nav-link" routerLink="/editappointment">
                    &nbsp; <span class="text" style="font-size: x-large"><b> Edit Appointment</b></span>
                </a>
            </button>


     &nbsp;
            &nbsp;<div class="wrap">
                <button class="button">
                    <a class="nav-link" routerLink="/viewsch">
                        &nbsp; <span class="text" style="font-size: x-large"><b> Schedule Details</b></span>
                    </a>
                </button>


            &nbsp;
            &nbsp; <div class="wrap">
                <button class="button">

                    <a class="nav-link" routerLink="/fb">
                        &nbsp; <span class="text" style="font-size: x-large"><b>FeedBack</b></span>
                    </a>

                </button>

                