<div  >
    <h1><b>Smart Covid Online Appointment</b> </h1>
</div>
&nbsp;
<div style="background-color:powderblue;">
<div class="center" >
    <h2><b> Welcome to Doctor Dashboard!!!</b></h2>
</div>
&nbsp;
&nbsp;
<div class="row">
    <img src="../../assets/doctor.png" class="center">
</div> 
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<div class="wrap">
    <button class="button">
    <a class="nav-link" routerLink="/addDoctor">
        &nbsp; <span class="text" style="font-size: x-large"><b>Add Doctor</b></span>
    </a>
</button>
</div>
&nbsp;&nbsp;&nbsp;
<div class="wrap">
    <button class="button">
<a class="nav-link" routerLink="/editDoctor">
    &nbsp; <span class="text" style="font-size: x-large"><b>Edit Doctor</b></span>
</a>
</button>
</div>

&nbsp;&nbsp;&nbsp;

&nbsp;
&nbsp;<div class="wrap">
    <button class="button">
        <a class="nav-link" routerLink="/viewsch">
            &nbsp; <span class="text" style="font-size: x-large"><b> Schedule Details</b></span>
        </a>
    </button>

    &nbsp;
    &nbsp; <div class="wrap">
        <button class="button">

            <a class="nav-link" routerLink="/viewapp">
                &nbsp; <span class="text" style="font-size: x-large"><b>Appointment Details</b></span>
            </a>

        </button>

        &nbsp;


&nbsp;
        &nbsp; <div class="wrap">
            <button class="button">

            <a class="nav-link" routerLink="/viewfeed">
                &nbsp; <span class="text" style="font-size: x-large"><b>FeedBack Details</b></span>
            </a>

        </button>
<body >
    

</body>
</div>
</div>
