<div>
    <h1><b>Smart Covid Online Appointment</b> </h1>
</div>
&nbsp;

    <div class="center">
        <h2><b> Welcome to Schedule Dashboard!!!</b></h2>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="wrap">
        <button class="button">
            <a class="nav-link" routerLink="/addschedule">
    &nbsp; <span class="text" style="font-size: x-large"><b>AddSchedule</b></span>
        </a>
        </button>


        &nbsp;
        &nbsp;<div class="wrap">
        <button class="button">
<a class="nav-link" routerLink="/editschedule">
    &nbsp; <span class="text" style="font-size: x-large"><b>EditSchedule</b></span>
</a>
        </button>

        &nbsp;
        &nbsp;<div class="wrap">
<button class="button">
<a class="nav-link" routerLink="/addappointment">
    &nbsp; <span class="text" style="font-size: x-large"><b>AddAppointment</b></span>
</a>
</button>

&nbsp;
    &nbsp;<div class="wrap">
    <button class="button">
<a class="nav-link" routerLink="/editappointment">
    &nbsp; <span class="text" style="font-size: x-large"><b>EditAppointment</b></span>
</a>
    </button>



<body>
    <div class="content">
    <img src="../../assets/s1.png" class="center">
    </div>
</body>