<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="wrapper">
<div class="sidebar">
    <div class="offcanvas-body">
    <a class="nav-link active" aria-current="page" routerLink="/home">
        <span class="fa fa-home" aria-hidden="true" style="font-size: x-large;"></span>
        &nbsp; <span class="text" style="font-size: x-large"><b>Home</b></span>
    </a>
  
    <a class="nav-link" routerLink="/abt">
        <span class="fa fa-users" aria-hidden="true" style="font-size: x-large;"></span>
        &nbsp; <span class="text" style="font-size: x-large"><b>About-us</b></span>
    </a>
    <a class="nav-link" routerLink="/login">
        <span class="fa fa-sign-in" aria-hidden="true" style="font-size: x-large;"></span>
        &nbsp; <span class="text" style="font-size: x-large"><b>Login</b></span>
    </a>
    
    
    
    
   

   

   


</div>
</div>
</div>


     
</body>
</html> 