<div >
  <h1><b>Smart Covid Online Appointment</b> </h1>
</div>
<div class ="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Add schedule to Doctor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addSchedule" type="submit">Add Schedule</button>
      </div>
    </div>
  </nav>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">schedule_Date</th>
        <th scope="col">schedule_Time</th>
        <th scope ="col">Doctor_Id</th>
       
        
      </tr>
</thead>
    <tbody>
      <tr *ngFor="let schedule of schList">
        <td>{{schedule.scheduleId}}</td>
        <td>{{schedule.scheduleDate}}</td>
        <td>{{schedule.scheduleTime}}</td>
        <td>{{schedule.doctorId}}</td>
        
    </tr>
      
</tbody>
</table>

<!--Add Schedule  Modal-->
<div class="modal fade" id="addSchedule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h1 class="modal-title" id="exampleModalLabel">Add new Schedule</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="schDetail">
                

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Schedule_Date</label>
                    <input type="text" formControlName="scheduleDate" class="form-control" id="scheduleDate" aria-describedby="emailHelp">
                  </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Schedule_Time</label>
                    <input type="text" formControlName="scheduleTime" class="form-control" id="scheduleTime" aria-describedby="emailHelp">
                  </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">DoctorId</label>
                    <input type="text" formControlName="doctorId" class="form-control" id="doctorId" aria-describedby="emailHelp">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addSchedule()" >Add Schedule</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>

