h1 {
    background-color:darkslateblue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color:blanchedalmond;
  }
  h4{
    text-align :right;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
