<div>
    <h1><b>Smart Covid Online Appointment</b> </h1>
</div>
<div class="wrapper">
    <div class="sidebar">
        <div class="offcanvas-body">

            <div>
                <img src="../../assets/dash.png" alt="" style="width:100%">
            </div>

            <a class="nav-link" routerLink="/addashboard">
                &nbsp; <span class="text" style="font-size: x-large"><b>AdminDashBoard</b></span>
            </a>

            <a class="nav-link" routerLink="/patdashboard">
                &nbsp; <span class="text" style="font-size: x-large"><b>PatientDashBoard</b></span>
            </a>

            <a class="nav-link" routerLink="/docdashboard">
                &nbsp; <span class="text" style="font-size: x-large"><b>DoctorDashBoard</b></span>
            </a>







        </div>
    </div>
</div>

<body>
    <img src="../../assets/d3.png" class="center">
    <h2>s</h2>
</body>